.nav {
    border-bottom: 1px solid rgb(181, 218, 181);
    padding: 16px;
    display: flex;
    justify-content: flex-end;
}

.nav > a {
    text-decoration: none;
    margin-left: 20px;
}

.headerTitle {
    font-size: 16px;
    color: aquamarine;
    position: absolute;
    margin-top: 15px;
    margin-left: 30px;
}